.rodape {
    background: var(--fundo-footer);
}

.titulo {
    display: none;
}

@media screen and (min-width: 1024px) {
    .titulo {
        display: block;
    }
    .rodape__redes {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo__rodape {
        width: 40px;
    }

    .logo__rodape:hover {
        width: 45px;
    }

}