.container__imagem {
    display: flex;
    justify-content: center;
}

.container__imagem--palmeiras {
    width: 90%;
}

@media screen and (min-width: 1024px) {
    .container__imagem--palmeiras {
        width: 50%;
    }
}