@import url("../estilos/header.css");
@import url("../estilos/home-corpo.css");
@import url("../estilos/footer.css");


:root {
    --fonte: "nunito";
    --fundo-header: #40E0D0;
    --fundo-footer: linear-gradient(90deg, #FFFFFF 40%, #40E0D0);
}

body {
    background-color: #FFFFFF;
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
}